@media all and (min-width: 2560px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
        height:2000px;
    }

    .heading {
        font-size: 45px;
        padding:20px;
        margin: 3rem 3%;;
        display: table;
        max-width: 50rem;
    }

    .calculator {
        padding:60px;
        border-radius: 30px;
    }

    button {
        width: 100px;
        height: 100px;
        font-size: 50px;
        margin: 5px;
        border-radius: 50px;
    }
    .calculator-screen {
        width: 420px;
        height:60px;
        margin-bottom:10px;
        font-size: 50px;
        border-radius: 50px;
    }
    .calculator p {
        font-size:50px;
        padding:20px;
    }
    button.zero-btn {
        width:212px;
    }
}


@media all and (max-width: 670px) {
    body {
        background-size: cover;
        height: 673px;
    }

    .heading {
        text-align: center;
        margin-left: 50px;
    }

}

@media all and (max-width: 425px) {
    body {
        background-size: cover;
        height: 673px;
    }

    .heading {
        margin-left:25px;
    }
}

@media all and (max-width: 375px) {
    body {
        background-size: cover;
        height: 673px;
    }
    .heading {
        margin-left:10px;
    }

    .calculator {
        margin-top:50px;
    }
}