* {
	margin: 0px;
	padding: 0px;
	font-family: 'Tw Cen MT';
}

body {
	
	background-image: url(https://github.com/jordhyputra27/Project-Calculator-Progate/blob/main/img/back4.jpg?raw=true);
    background-size: cover;
	height: 1000px;
}

.heading {
	font-size: 20px;
	opacity: 0.7;
  	text-align:left;
  	background-color:rgba(22, 32, 43, 0.9);
  	padding:5px;
  	margin: 1.5rem 3%;
  	max-width: 40rem;
  	display: table;
  	color:bisque;
}
.calculator {
	margin-top:25px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: fixed;
	background: rgba(210, 105, 30,0.4);
	padding: 25px;
	border-radius: 15px;
	box-shadow: 0 0 15px;
}

.calculator p {
	text-align:center;
	padding:5px;
	font-size:20px;
	font-weight: bold;
	color: rgb(60, 11, 41)
}
button {
	width: 50px;
	height: 50px;
	font-size: 25px;
	margin: 2px;
	cursor: pointer;
	border: none;
	background: rgba(22, 148, 133, 0.7);
	color: white;
	border-radius: 25px;
	
}

button.zero-btn {
    width: 108px;
}


.calculator-screen {
	width: 204px;
	margin: 4px;
	font-size: 20px;
	padding: 10px;
	border: none;
	background-color:rgb(60, 11, 4, 0.7);
	color: #ffc462;
	border-radius: 25px;
	text-align: right;
}
